*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url(images/bg0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: relative;
    
}

main {
    margin: auto;
    width: fit-content;
    padding: 10px;
    position: relative;
    top: 150px;
    
}

table {
	width: 450px;
    margin-bottom: 20px;
    
}

table tr:last-child th:first-child {
    border: 2px solid #764b8a;
    border-bottom-left-radius: 10px;
}
    
table tr:last-child td:last-child {
    border: 2px solid #764b8a;
    border-bottom-right-radius: 10px;
}

table tr:first-child th:first-child {
    border: 2px solid #764b8a;
    border-top-left-radius: 10px;
}
    
table tr:first-child td:last-child {
    border: 2px solid #764b8a;
    border-top-right-radius: 10px;
}

th,td{
    padding: 5px;
    border: 2px solid #764b8a;
    color: white
}

th {
    font-weight: 500;
	background: #1d1724;
}
td {
    width: 0%;
    background: #0f0d11;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

input[type=number] {
    font-weight: bold;
    border: 2px solid #403047;
    border-radius: 5px;
    width: 50px;
    color: white;
    background-color: black;
    }

button {
    background-color: #5b2779;
    border-radius: 15px;
    border-color: #895d9e;
    color: rgb(235, 235, 235);
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
  }

.buttonEvent{
    display: flexbox;
    width: 450px;
}


button:hover {
    background-color: #7f43a1; 
    color: white;
  }

#resultparent{
    font-weight: 500;
    font-size: 18px;
    padding: 0px;
    display: inline-block;
    margin: 0 0 0 10px;
    color: white;
}
#resultparent p{
    margin: 0;
}
